/* POR SI TENGO QUE PERSONALIZAR ESTILOS*/
/*---- INICIO Estilos para formulario---->*/
:root {
    --primary: #FB5B21;
    --secondary: #BDBDBF;
    --light: #F4F5F8;
    --dark: #222429;
}
.container-formularios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%; 
    width: 100%;
    padding-top: 3%;
    color: rgb(255, 255, 255);

}

.container-formularios h1 {
    color: var(--primary);
    font-size: 80px;
    text-shadow: 
        -1px -1px 0 var(--light),
        1px -1px 0 var(--light),
        -1px 1px 0 var(--light),
        1px 1px 0 var(--light);
}

.container-formularios button {
    background-color: #FB5B21;
    border: none;
    border-radius: 8px;
    color: var(--light);
    font-size: 40px;
}

.container-formularios input, .container-formularios button {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    max-width: 300px;

}

/*---- FINAL Estilos para formulario---->*/