{% extends 'madre.html' %}
<div style="background-color: rgba(63, 63, 63, 0.788);">
{% block contenidoQueCambia %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; 
            width: 100%;
            padding-top: 3%;
        }
    </style>
    <div class="container">
        <h1>SITIO EN CONSTRUCCION...</h1>
        <br>
        <p><h1>&nbsp;&nbsp;Lamentamos el inconveniente.</h3></p>
    </div>
</div>
{% endblock contenidoQueCambia %}