{% extends 'madre.html' %}

{% block contenidoQueCambia %}
    <style>
        h1 {
            padding: 10px; 
            margin: 20px; 
        }
        p {
            padding: 10px; 
            margin: 20px; 
        }
    </style>

    <h1><p style="color: azure;">{{message}}</p></h1>

    <h1>--- Tercera pre-entrega+TISO ---</h1>

    <h4>
        Caracteristicas del Proyecto Creado:
    </h4>   
    <br>
    <h6>- Tenemos un archivo 'modelo.py', donde cree las clases que pienso utilizar hasta el momento:<br>
        <p>
                - ClasesAlumnos.<br>
            - Alumnos.<br>
            - Istructor.<br>
            - Clases.<br>
            - Desafios.<br>
        </p>
    </h6>

    <br>



{% endblock contenidoQueCambia %}
    