{% extends 'madre.html' %}
<div style="background-color: rgba(63, 63, 63, 0.788);">
    {% block contenidoQueCambia %}
    <!-- en el include le heredo los estilos deestilos_formularios.html -->
    {% include 'estilos_formularios.html' %}
        <div class="container-formularios">
            <h1>PANEL PARA INSTRUCTORES</h1>
        </div>
        <div class="container-formularios"> 

            <form action="{% url 'registroForm' %}" method="post">
                {% csrf_token %}
                <br>
                {{miFormulario.as_p}}
                <br>
                <button type="submit">REGISTRAR CLASE</button>
        
            </form>
        </div>
    {% endblock contenidoQueCambia %}
</div>